
#avatar {
  width: 60vh;
  height: 60vh;
  position: relative;
  /*
  margin: auto;
  top: 10vh;
  */
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60vh;
    height: 60vh;
  }
  div {
    width: 60vh;
    height: 60vh;
    border-radius: 30vh;
  }
}

#download {
  /*
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 24px;
  */
  margin-top: 24px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: black;
  }
}

.picker-wrapper {
  height: 100%;
}

.picker {
  min-height: 100%;
  md-tabs {
    min-height: 100%;
  }
}

.picker-gender {
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 72px;
  button {
    height: 64px;
    width: 64px;
    padding: 0;
    min-width: 64px;
    md-icon {
      height: 48px;
      width: 48px;
      opacity: .2;
      &.selected {
        opacity: 1;
      }
    }
  }
}

.tabs-wrapper {
  overflow: auto;
}

.md-tab-label {
  text-transform: uppercase;
}

md-grid-tile {
  border-radius: 2px;
}

.tile-border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tile-background {
  background-color: rgba(0, 0, 0, 0.05);
}

button.asset-button {
  height: 94%;
  width: 94%;
  border-radius: 3px;
  margin: 0;
  .md-ripple-container {
    border-radius: 3px;
  }
  md-icon {
    &.asset-icon {
      height: 100%;
      width: 100%;
    }
    &.asset-icon-none {
      height: 50%;
      width: 50%;
      opacity: .5;
    }
  }
}

md-grid-tile-footer .selected-icon {
  color: rgba(255, 255, 255, 0.6);
}

/*
.avatar-color.ng-enter,
.avatar-image.ng-enter {
    transition: .2s all ease-in-out;
    opacity: 0;
}
.avatar-color.ng-leave,
.avatar-image.ng-leave {
    transition: .2s all ease-in-out;
    opacity: 0;
}
*/