.gallery {
  max-width: 960px;
  margin: 0 auto;
  
  h1 {
    text-align: center;
    font-weight: 300;
  }

  .placeholder {
    border-radius: 8px;
  }
}

#gallery-fab {
  position: fixed;
  right: 24px;
  bottom: 24px;
}
