<div class="gallery-container">
  <div class="gallery">
    <!--<h1>Gallery of Avatars</h1>-->
    <div class="avatars-grid" *ngIf="publicAvatars">
      <md-grid-list cols="3" rowHeight="240px" gutterSize="12px">
        <md-grid-tile *ngFor="let avatar of publicAvatars | async" colspan="1" rowspan="1">
          <avatar [model]="avatar"></avatar>
        </md-grid-tile>
      </md-grid-list>
    </div>
    <div class="avatars-empty" *ngIf="!publicAvatars" fxLayout="column" fxLayoutAlign="center center">
      <img class="placeholder" src="/assets/images/gallery-placeholder.gif" />
    </div>
  </div>
</div>
<a id="gallery-fab" md-fab routerLink="/create"><md-icon>add</md-icon></a>